<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234794713069-stbuhm5tj9ug73m6rtflkm2p72cufle4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234794713069-stbuhm5tj9ug73m6rtflkm2p72cufle4</string>
	<key>API_KEY</key>
	<string>AIzaSyCnVjNqJlOlLEn-pPuj7yHdQuqGuW6XhVU</string>
	<key>GCM_SENDER_ID</key>
	<string>234794713069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ms.koa.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-by-koa</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-by-koa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234794713069:ios:bcb999c3a29ff1155bf1e4</string>
</dict>
</plist>